* Reset rules */ * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* .debug {
    border: 1px solid red;
}

*/

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    /* Riempio l'immagine nel contenitore mantenendo le
    sue proporzioni ma ritagliando eventualmente i
    bordi per adattarla al suo contenitore */
    object-fit: cover;
}

body {
    margin: 0 auto;
    font-family: "Roboto", serif;
}

header {
    background-color: #E5E5E5;
}

main {
    background: #E5E5E5;
    padding-bottom: 100px;
}

footer {
    background-color: #333333;
    color: white;
    padding: 30px 80px;
    text-align: center;
}

ul {
    list-style-type: decimal;
    padding-left: 20px;
}

h1 {
    text-align: center;
    font-weight: 600;
}

/* CSS personalizzato del componente Loader.jsx */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}